Test Data
=========

### Before Game Start
Game buttons do not work initially
Instructions button pops up instructions
1P and 2P buttons select different game modes

### Single Player Game
Turns alternate correctly
Punch and kick buttons disabled when P2 turn
Computer turn button disabled when P1 turn
Reset correctly resets the game
Instructions button pops up instructions

### Two Player Game
Turns do not correctly alternate
Punch and kick buttons do not work for P2 turn
Computer turn button is correctly hidden
Reset correctly resets the game
Instructions button pops up instructions